@font-face {
  font-family: "Righteous";
  src: local("Righteous"), url("./fonts/Righteous/Righteous.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto.ttf") format("truetype");
}

:root {
  --clr-main-dark: #1C1B20;
  --clr-white: white;
  --clr-purple-dark: #3E1362;
  --clr-purple-medium: #B26ACD;
  --clr-purple-light: #E68DF2;
  --clr-upvote: #0081D7;
  --clr-downvote: #B12669;
  --clr-star-disabled: #C4C4C4;

  /* --ff-primary: 'Lato', sans-serif; */
  --ff-primary: 'Roboto', Helvetica, Arial, sans-serif;
  --ff-logo: 'Righteous', Arial, serif;

  --fs-base: 1rem;
  --fs-big: 2rem;
}

@media screen and (max-width: 600px){
  :root{
    --fs-base: 1.1rem;
    --fs-big: 1.5rem;
  }
}

@media screen and (min-width: 2000px){
  :root{
    --fs-base: 1.2rem;
    --fs-big: 2.5rem;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
  font-family: var(--ff-primary);
  color: var(--clr-white);
  font-size: var(--fs-base);
  text-align: center;
}

body {
  background-image: linear-gradient(var(--clr-purple-dark), var(--clr-purple-medium), var(--clr-purple-light));
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 1em;
  background: var(--clr-main-dark);
  font-family: "Righteous", Arial;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

.icon-button {
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin: 0.25em;
  font-size: calc(var(--fs-base) * 1.1);
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  color: var(--clr-white);
}

a:hover {
  color: var(--clr-upvote);
}

.icon-button:hover {
  color: var(--clr-upvote);
}

.edit-delete-functions {
  display: flex;
  justify-content: end;
}

img {
  width: clamp(7em, calc(50% + 50px), 10em);
}

/*  */
/* stars */
/*  */

.edit-stars label > svg {
  cursor: pointer;
  width: 30px;
  color: var(--clr-star-disabled);
}

.edit-stars label > svg:hover {
  transform: translateY(-5px);
}

.edit-stars :not(input[type="radio"]:checked ~ input[type="radio"]) + label > svg,
.edit-stars input[type="radio"]:checked + label > svg {
  color: var(--clr-purple-medium);
}

.edit-stars input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  border: 0;
}

form {
  padding: 3em;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  margin-bottom: 1em;
  border: none;
  border-radius: 0;
}

input:focus-visible, textarea:focus-visible {
  outline: 2px solid var(--clr-upvote);
}

textarea {
  resize: vertical;
}

form label {
  align-self: start;
}

form button {
  padding: 0.4em;
  width: 6em;
  align-self: center;
  border: none;
}

button:focus-visible {
  outline: 2px solid var(--clr-upvote);
}

.errors {
  color: var(--clr-downvote);
  padding: 1rem;
  font-size: calc(var(--fs-base) * 0.9);
  text-align: left;
}

.errors ul {
  list-style: none;
}
